$burgerWidth: 32px;
$burgerHeight: 32px;
$stickHeight: 2px;
$middleStickShift: 0px;
$sideStickShift: 14px;
$ease: ease;
$duration: 400ms;

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  min-height: 45px;

  &::after {
    width: 60%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-image-o);
    clip-path: polygon(0px 10.13%, 44.23% 22.75%, 68.34% 67.5%, 0px 94.75%);
  }

  @media (min-width: 992px) {
    min-height: 200px;

    &::after {
      width: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 88%;
    height: 100%;
    background-color: var(--bg-image-b);
    background-position: top right;
    clip-path: polygon(312px 17.07%, 100% 0%, 99.71% 67.47%, 31.40% 42.96%);
  }

  &__nav {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: -50vh;
    z-index: 2;

    @media (min-width: 992px) {
      top: 20%;
    }

    @media (min-width: 1440px) {
      top: 25%;
    }

    &_open {
      animation: down 0.5s 1 forwards;
      @keyframes down {
        from {
          top: -50vh;
        }
        40% {
          top: 7vh;
        }
        65% {
          top: 5vh
        }
        to {
          top: 7vh;
        }
      }
    }

    &_closed {
      @keyframes up {
        from {
          top: 5vh;
        }
        to {
          top: -50vh;
        }
      }
      animation: up 0.5s 1 forwards;
    }
  }

  &__logo {
    width: 100vw;
    position: absolute;
    height: 100%;
    z-index: 1;

    & > img {
      display: none;
      position: relative;
      top: 55px;

      @media (min-width: 992px) {
        display: unset;
        top: 15px;
        width: 311px;
        height: 92px;
      }

      @media (min-width: 1440px) {
        top: 10px;
        width: 452px;
        height: 120px;
      }

      @media (min-width: 1920px) {
        top: 5px;
        width: 494px;
        height: 131px;
      }
    }
  }
}

.list {
  z-index: 1;
  display: grid;
  grid-template-rows: repeat(5, auto);
  justify-content: center;


  @media (min-width: 992px) {
    grid-template-columns: repeat(5, auto);
    grid-template-rows: unset;
    justify-content: flex-end;
  }

  &__item {
    width: var(--btn-size-mobile);
    cursor: pointer;
    background: linear-gradient(270deg, #060693 0%, #e5a14b 100%);
    border-radius: 15px;
    align-items: center;
    margin-bottom: 4px;

    //@media (min-width: 768px) {
    //  width: unset;
    //  border-radius: unset;
    //  background: inherit;
    //  margin-right: 10px;
    //}

    @media (min-width: 992px) {
      width: unset;
      border-radius: unset;
      background: inherit;
      margin-right: 0px;
    }

    //@media (min-width: 1440px) {
    //  margin-right: 35px;
    //}

    @media (min-width: 1920px) {
      margin-right: 70px;
    }

    & > a {
      display: block;
      width: var(--btn-size-mobile);
      padding: 3px;
      position: relative;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      font-weight: 500;
      color: var(--bg-main);


      @media (min-width: 992px) {
        display: unset;
        padding: 10px 42px;
        font-size: 16px;
        &::after {
          content: "";
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: 0px;
          left: 0;
          background-color: var(--bg-image-o);
          transition: all 0.5s;
        }

        &:hover::after {
          width: 100%;
          transition: all 0.5s;
        }
      }
    }

    text-align: center;
  }
}

.burgerContainer {
  @media (min-width: 992px) {
    display: none;
  }

  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 5;
  border-radius: 6px;
  background-color: var(--bg-image-o);
  width: $burgerWidth;
  height: $burgerHeight;
}

.hamburgerToClose {
  display: flex;
  justify-content: center;
  width: $burgerWidth;
  height: $burgerHeight;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
  }

  .hamburgerMiddle,
  &:before,
  &:after {
    position: absolute;
    width: $burgerWidth/2;
    height: $stickHeight;
    background-color: var(--bg-main);
  }

  .hamburgerMiddle {
    top: 50%;
    margin-top: $middleStickShift;
    transition: transform $ease ($duration/2);
  }

  &:before {
    top: 20px;
    transition: top ($duration/2) $ease ($duration/2),
    transform $ease ($duration/2);
  }

  &:after {
    bottom: 18px;
    transition: bottom ($duration/2) $ease ($duration/2),
    transform $ease ($duration/2);
  }

  &.close {
    .hamburgerMiddle {
      transform: rotate(-45deg);
      transition: transform ($duration/2) $ease ($duration/2);
    }

    &:before {
      top: 16px;
      transform: rotate(-45deg);
      transition: top $ease ($duration/2),
      transform ($duration/2) $ease ($duration/2);
    }

    &:after {
      bottom: $sideStickShift;
      transform: rotate(45deg);
      transition: bottom $ease ($duration/2),
      transform ($duration/2) $ease ($duration/2);
    }
  }
}
