.lesson {
  display: grid;
  padding: 45px 45px 55px 45px;

  @media (min-width: 768px) {
    padding: 124px 82px 124px 82px;
  }

  @media (min-width: 992px) {
    padding: 120px 104px 120px 104px;
  }

  @media (min-width: 1440px) {
    padding: 120px 265px 120px 265px;
  }
  &__lists {
    display: grid;
    row-gap: 29px;
    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: unset;
      column-gap: 29px;
    }
  }

  &__header {
    font-family: "RobotoMedium", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--txt-white);

    margin-bottom: 19px;

    @media (min-width: 768px) {
      font-family: "RobotoBold";
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 59px;
    }
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(auto-fill, auto);
    gap: 29px;

    @media (min-width: 992px) {
      row-gap: 0;
    }

    & > li {
      position: relative;
      font-family: "RobotoLight", "Roboto", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-align: justify;
      color: var(--bg-main);

      @media (min-width: 768px) {
        font-size: 16px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: -15px;
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        background-color: var(--bg-main);

        @media (min-width: 768px) {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}