.btn {
    padding: 10px 32px;
    width: 156px;
    font-family: "RobotoMedium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: justify;
    color: var(--txt-white);
    background: linear-gradient(270deg, #060693 0%, #e5a14b 100%);
    border-radius: 15px;

    @media (min-width: 768px) {
      padding: 15px 46px;
      width: 238px;
      font-size: 22px;
    }
}
