.advantages {
  display: grid;
  gap: 16px;
  position: relative;
  z-index: 2;
  padding: 41px 16px;

  @media (min-width: 768px) {
    gap: 45px;
    padding: 121px 32px 121px 32px;
  }

  @media (min-width: 1440px) {
    padding: 203px 285px 280px 285px;
  }

  &__header {
    font-family: "RobotoMedium", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;

    color: var(--txt-white);

    @media (min-width: 768px) {
      font-family: "RobotoBold", "Roboto", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      text-align: center;
    }
  }

  &__list {
    display: grid;
    gap: 19px;
    grid-template-rows: repeat(5, 1fr);

    &_single {
      @media (min-width: 768px) {
        grid-template-rows: unset;
        grid-template-columns: repeat(5, 1fr);
      }
    }

    &_double {
      @media (min-width: 768px) {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
      }
    }

  }

  &__btn_unshow {
    @extend %btn;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__btn_show {
    @extend %btn;
    display: none;

    @media (min-width: 768px) {
      display: block;
      margin-top: 29px;
    }
  }
}

%btn {
  justify-self: center;
  margin-top: 16px;
}


.advantages_single {
  top: -15px;

  @media (min-width: 768px) {
    top: -100px;
  }
}

.advantages_double {
  top: -30px;

  @media (min-width: 768px) {
    top: -200px;
  }
}
