.layout {
  padding: 1rem;
  margin-top: 40px;
  transition: all 0.5s;

  @media (min-width: 1440px) {
    margin-top: 140px;
  }

  &__open {
    transition: all 0.5s;
    margin-top: 140px;
  }
}

.container {
  position: relative;
}
