%btn {
  padding: 10px 13px;
  font-family: "RobotoMedium", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-align: justify;
  border-radius: 15px;
  width: var(--btn-size-mobile);
  color: var(--txt-white);

  @media (min-width: 768px) {
    font-size: 16px;
    width: var(--btn-size-tablets);
  }
}

.common {
  @extend %btn;
  background-color: inherit;
}

.orange {
  @extend %btn;
  background-color: var(--bg-image-o);
}

.blue {
  @extend %btn;
  background-color: var(--bg-image-b);
}
