.item {
  display: grid;
  grid-template-columns: 44px 1fr;
  gap: 26px;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    grid-template-columns: unset;
    grid-template-rows: 95px 1fr;
  }

  @media (min-width: 1440px) {
    grid-template-columns: unset;
  }

  &__text {
    text-align: start;
    font-family: "RobotoLight", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    align-items: center;
    align-self: center;

    @media (min-width: 768px) {
      text-align: center;
      font-family: "RobotoMedium", "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      align-items: center;
      font-size: 16px;
      align-self: unset;
    }
  }

  &__img {
    width: 45px;
    height: 45px;

    @media (min-width: 768px) {
      //height: 100%;
      height: 95px;
      width: 95px;
      justify-self: center;
    }

    @media (min-width: 1440px) {
      width: 120px;
      height: 120px;
    }
  }
}
