.item {
  display: grid;
  grid-template-columns: 44px 1fr;
  gap: 26px;

  @media (min-width: 768px) {
    grid-template-columns: unset;
    grid-template-rows: 95px 1fr;
  }

  &__text {
    font-family: "RobotoLight", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: justify;

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__img {
    width: 45px;
    height: 45px;

    @media (min-width: 768px) {
      height: 100%;
      width: 95px;
      justify-self: center;
    }
  }
}
