$svgWidth: 16px;
$animDur: 0.5s;

.index {
  &__school {
    margin-bottom: var(--gap-between);
    display: grid;
    gap: 16px;
    grid-template-rows: 0.1fr 0.5fr 0.8fr auto;
    grid-template-areas:
      "s-header"
      "s-add"
      "s-list"
      "s-choose";

    @media (min-width: 992px) {
      height: 60vh;
      grid-template-columns: 1fr 500px;
      gap: 0;
      grid-template-areas:
        "s-header s-image"
        "s-add s-image"
        "s-list s-image"
        "s-choose s-image";
    }
  }

  &__content {
    display: grid;
    gap: 32px;
  }
}

.school {
  &__header {
    & > p {
      font-size: 1.5rem;
      text-align: start;
      font-weight: 500;
    }
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    grid-area: s-header;

    @media (min-width: 992px) {
      margin-bottom: 36px;
    }
  }

  &__add {
    font-weight: 500;
    font-size: 1.5rem;
    grid-area: s-add;

    @media (min-width: 992px) {
      // margin-bottom: 64px;
    }
  }

  &__image {
    &_container {
      display: none;
      position: relative;
      grid-area: s-image;

      @media (min-width: 992px) {
        display: block;
      }
    }
  }

  &__list {
    grid-area: s-list;
  }

  &__choose {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 200px;
    justify-self: center;
    border: 1px solid var(--txt-main);
    border-radius: 20px;
    grid-area: s-choose;
    background-color: var(--txt-main);
    transition: scale $animDur;

    &:visited {
      color: var(--bg-main);
    }

    &:hover {
      scale: 1.05;
      transition: scale $animDur;
    }

    @media (min-width: 992px) {
      padding: 12px;
      width: 250px;
      justify-self: start;
    }
  }
}

.list {
  &__text {
    position: relative;
    padding-left: $svgWidth + 8px;
    &::before {
      position: absolute;
      left: 0;
      top: 20%;
      content: '';
      height: 16px;
      width: 16px;
      background: url("/static/svg/clipboard.svg") no-repeat;
    }
  }
}