$svgWidth: 16px;
$animDur: 0.5s;

.index {
  &__school {
    margin-bottom: var(--gap-between);
    display: grid;
    gap: 16px;
    grid-template-rows: 0.1fr 0.5fr 0.8fr auto;
    grid-template-areas:
      "s-header"
      "s-add"
      "s-list"
      "s-choose";

    @media (min-width: 992px) {
      height: 60vh;
      grid-template-columns: 1fr 500px;
      gap: 0;
      grid-template-areas:
        "s-header s-image"
        "s-add s-image"
        "s-list s-image"
        "s-choose s-image";
    }
  }

  &__content {
    display: grid;
    gap: 32px;
  }
}

.school {
  &__header {
    & > p {
      font-size: 1.5rem;
      text-align: start;
      font-weight: 500;
    }

    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    grid-area: s-header;

    @media (min-width: 992px) {
      margin-bottom: 36px;
    }
  }

  &__add {
    font-weight: 500;
    font-size: 1.5rem;
    grid-area: s-add;

    @media (min-width: 992px) {
      // margin-bottom: 64px;
    }
  }

  &__image {
    &_container {
      display: none;
      position: relative;
      grid-area: s-image;

      @media (min-width: 992px) {
        display: block;
      }
    }
  }

  &__list {
    grid-area: s-list;
  }

  &__choose {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 200px;
    justify-self: center;
    border: 1px solid var(--txt-main);
    border-radius: 20px;
    grid-area: s-choose;
    background-color: var(--txt-main);
    transition: scale $animDur;

    &:visited {
      color: var(--bg-main);
    }

    &:hover {
      scale: 1.05;
      transition: scale $animDur;
    }

    @media (min-width: 992px) {
      padding: 12px;
      width: 250px;
      justify-self: flex-start;
    }
  }
}

.list {
  &__text {
    position: relative;
    padding-left: $svgWidth + 8px;

    &::before {
      position: absolute;
      left: 0;
      top: 20%;
      content: '';
      height: 16px;
      width: 16px;
      background: url("/static/svg/clipboard.svg") no-repeat;
    }
  }
}

/// new code

.robots {
  width: 100%;
  height: 155px;
  background: url("/static/new_img/robots.png") no-repeat;
  background-size: contain;
  background-position: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.aboutUs {
  display: grid;
  gap: 16px;
  position: relative;
  z-index: 2;
  padding: 41px 53px;
  color: var(--txt-white);

  @media (min-width: 768px) {
    gap: 45px;
    padding: 121px 98px 121px 98px;
  }

  @media (min-width: 1440px) {
    padding: 100px 285px 160px 285px;
  }

  //@media (min-width: 1920px) {
  //  padding: 100px 285px 160px 285px;
  //}

  & > h3 {
    font-family: "RobotoMedium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;

    @media (min-width: 768px) {
      font-family: "RobotoBold", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
    }

    text-align: center;
  }

  & > p {

    font-family: "RobotoLight", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
      font-family: "RobotoBold", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      display: unset;
    }

    text-align: justify;
  }
}

.sub {
  width: 100%;

  %paragraph {
    display: inline;
    text-align: center;

    @media (min-width: 992px) {
      display: block;
      text-align: end;
    }
  }

  &__paragraph_main {
    @extend %paragraph;
    @media (min-width: 992px) {
      margin-right: 5rem;
    }
  }

  &__paragraph_secondary {
    @extend %paragraph;
  }
}