.news {
  display: grid;
  grid-auto-flow: row;
  row-gap: 16px;
  padding: 32px;

  @media (min-width: 768px) {
    padding: 32px 186px;
    gap: 24px;
  }

  @media (min-width: 992px) {
    padding: 32px 112px;
  }

  @media (min-width: 1440px) {
    padding: 32px 112px;
  }

  @media (min-width: 1920px) {
    padding: 32px 256px;
  }

  &__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--txt-black);

    text-align: center;

    @media (min-width: 768px) {
      padding: 0;
      font-size: 42px;
    }

    @media (min-width: 992px) {
      font-size: 52px;
    }

    @media (min-width: 1440px) {
      font-size: 58px;
    }
  }
}