$scaleDur: 1.5s;

.course {
  cursor: pointer;
  transition: all $scaleDur;
  padding: 8px;
  display: grid;
  border-radius: 25px;
  // height: 30vh;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  &__title {
    align-self: center;
    text-align: center;
  }

  &__description {
    text-align: center;
  }

  &:hover {
    transition: all $scaleDur;
    // transform: translate3d();
    scale: 1.05;
  }
}

.flip-container {
  // background: url("/static/imgs/arduino-logotip.jpg");
  // background-size: cover;
}
/* переверните сторону при проведении мышью */
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 100%;
  height: 100%;
}

/* здесь находится скорость перевертывания */
.flipper {
  transform-style: preserve-3d;
  // transform: rotate(0deg);
  position: relative;
  cursor: pointer;
  transition: all $scaleDur;
  padding: 8px;
  display: grid;
  border-radius: 25px;
  // height: 30vh;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.flip {
  transition-duration: all $scaleDur/2;
  transform-style: preserve-3d;
  transform: rotateY(30deg);
}

.backFlip {
  transition-duration: all $scaleDur/2;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
}

/* скройте обратную сторону во время переворота */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* лицевая сторона размещена над обратной */
.front {
  z-index: 2;
}

/* обратная, изначально скрытая сторона */
.back {
  // background-color: red;
  transform: rotateY(180deg);
}

.front {
  background: url("/static/imgs/test.jpg");
  background-size: cover;
  // background-color: royalblue;
}
