.fullCard {
  @media (min-width: 992px) {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 16px;
  }
}

.info {
  //display: none;

  &__header {
    text-align: center;
    font-family: "RobotoBold", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: var(--txt-black);
  }

  &__description {
    padding: 0 24px;
    margin: 14px 0;
    font-family: "RobotoMedium", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--txt-black);
  }

  @media (min-width: 992px) {
    display: unset;
    color: var(--txt-black);

    &__header {
      font-size: 24px;
    }

    &__description {
      font-family: "RobotoMedium", "Roboto", sans-serif;
      line-height: 120%;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      justify-self: center;
    }
  }
}

.payCard {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 50px;
  border-radius: 40px;
  padding: 32px 0;
  background: var(--bg-image-o);
  margin: 0 16px 32px 16px;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 50%;
    z-index: -1;
    background-color: var(--bg-image-b);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    @media (min-width: 992px) {
      clip-path: polygon(0px 100%, 100% 0%, 100% 100%, 0% 100%);
      height: 100%;
      border-radius: 40px;
    }
  }

  @media (min-width: 992px) {
    padding: 20px;
    min-height: 400px;
    grid-template-columns: auto auto;
    grid-template-rows: unset;
    margin: 0 95px 72px 95px;
  }

  @media (min-width: 1440px) {
    padding: 32px;
    margin: 0 260px 82px 260px;
  }

  @media (min-width: 1920px) {
    padding: 48px;
    margin: 0 360px 82px 360px
  }
}