.payCard {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 29px;
  background: var(--bg-image-o);
  border-radius: 40px;
  padding: 32px 0;
  margin: 0 16px 32px 16px;

  &__info {
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    gap: 19px;
  }

  &__btns {
    display: grid;
    grid-template-rows: auto auto;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
}

.info {
  &__header {
    font-family: "RobotoMedium", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--txt-white);
  }

  &__description {
    font-family: "RobotoLight", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--txt-white);
  }

  &__cost {
    font-family: "RobotoBold", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: var(--txt-white);
  }
}