%footerT {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 30px;
  position: relative;
  z-index: 2;
  bottom: 0px;
  left: 0px;
  padding: 22px 65px;
  background: linear-gradient(270deg, #060693 0%, #e5a14b 100%);

  &__info {
    display: grid;
    gap: 6px;
  }
}

.footer_zero {
  @extend %footerT;
}

.footer_single {
  @extend %footerT;

  margin-top: 0;

  @media (min-width: 768px) {
    margin-top: -85px;
  }
}

.footer_double {
  @extend %footerT;

  margin-top: -15px;

  @media (min-width: 768px) {
    margin-top: -85px;
  }
}

.footer_singleDouble {
  @extend %footerT;

  margin-top: -30px;
  @media (min-width: 768px) {
    margin-top: -200px;
  }
}

.info {
  display: grid;
  gap: 6px;
  justify-items: center;
  @media (min-width: 768px) {
    gap: 180px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__header {
    font-family: "RobotoMedium", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: var(--txt-white);

    @media (min-width: 768px) {
      font-weight: 700;
      font-size: 18px;
    }
  }

  &__text {
    display: flex;

    font-family: "RobotoLight", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    color: var(--txt-white);

    @media (min-width: 768px) {
      font-size: 16px;
    }

    & > span {
      display: flex;
      align-items: center;
      font-family: "RobotoLight", "Roboto", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 120%;
      color: var(--txt-white);
      text-align: start;

      @media (min-width: 768px) {
        font-size: 16px;
      }
    }

    & > img {
      width: 16px;
      height: 16px;
      margin-right: 11px;
    }


  }
}

.contact {
  display: grid;
  gap: 6px;

  @media (min-width: 768px) {
    gap: 16px;
    grid-template-rows: auto 1fr;
  }
}
