// общий вид компоненты
%helloT {
  padding: 24px 16px 0 16px;
  display: grid;

  @media (min-width: 768px) {
    padding: 0 120px;
  }

  @media (min-width: 1440px) {
    padding: 0 165px;
  }
}

// разделенный на две колонки
%helloTDoubleColumns {
  @extend %helloT;
  grid-template-columns: 0.75fr 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

// Если на компоненте нет кнопки
.helloWithBtn {
  @extend %helloTDoubleColumns;

  grid-template-rows: 1fr 156px 1fr;
  grid-template-areas:
    "h-head h-head"
    "h-text h-img"
    "h-btn h-btn";

  @media (min-width: 768px) {
    grid-template-rows: 1fr 0.8fr 0.1fr;

    grid-template-areas:
      "h-head h-img"
      "h-text h-img"
      "h-btn h-img";
  }
}

.helloWithOutBtn {
  @extend %helloTDoubleColumns;

  grid-template-areas:
    "h-head h-head"
    "h-text h-img";

  @media (min-width: 768px) {
    grid-template-rows: auto 0.8fr;

    grid-template-areas:
      "h-head h-img"
      "h-text h-img";
  }
}

.helloWithoutBtnImgTop {
  @extend %helloT;
  row-gap: 8px;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "h-img"
    "h-head"
    "h-text";

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 26px;
    column-gap: 111px;
    grid-template-areas:
      "h-head h-img"
      "h-text h-img";
  }
}


.greeting {
  margin-bottom: 32px;

  &__head {
    grid-area: h-head;
    padding: 0 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--txt-black);

    text-align: center;

    @media (min-width: 768px) {
      padding: 0;
      text-align: start;
      font-size: 42px;
    }

    @media (min-width: 992px) {
      //margin-top: 100px;
      font-size: 64px;
    }
  }
}

.sub {
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: h-text;

    & > p {
      &:not(:last-child) {
        margin-bottom: 5px;
      }

      font-family: "RobotoLight", "Roboto", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 120%;
      color: var(--txt-sublack);

      @media (min-width: 768px) {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    @media (min-width: 768px) {
      justify-content: unset;
      align-items: unset;
      & > p {
        font-family: "RobotoMedium", "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        //margin-top: 29px;
        justify-self: flex-start;
        align-self: flex-start;
      }
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: h-img;
    height: 100%;
    width: 100%;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: h-btn;

    @media (min-width: 768px) {
      justify-content: end;
    }
  }
}
