.hello {
  display: grid;
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
    padding: 0 160px;
  }
}

.greeting {
  &__head {
    font-style: normal;
    font-weight: 700;
    @media (min-width: 992px) {
      font-size: 64px;
      line-height: 120%;
    }
  }

  &__text {
    font-weight: 500;
    @media (min-width: 992px) {
      font-size: 16px;
      line-height: 120%;
    }
    text-align: justify;
  }
}

.img {
  height: 100%;
  width: 100%;
  background: url("/static/new_img/greeting/robots.png") no-repeat;
}
