:root {
  --bg-main: #fff;
  --bg-sub: #f3be92;
  --bg-gray: #E4E4F2;
  --txt-main: #123eab;
  --txt-hover: #ff7100;
  --txt-gray: #828282;
  --gap-between: 16px;
  --bg-image-b: #060693;
  --bg-image-o: #e5a14b;
  --gray: #666666;
  --txt-black: #070921;
  --txt-sublack: #000000;
  --txt-white: #fcfcfc;

  --btn-size-mobile: 156px;
  --btn-size-tablets: 238px;
}

.clip-blue {
  clip-path: polygon(0px 0%, 100% 5%, 100% 100%, 0% 95%);
  background-color: var(--bg-image-b);
  color: var(--txt-white);

  @media (min-width: 768px) {
    clip-path: polygon(0px 0%, 100% 15%, 100% 100%, 0% 85%);
  }
}

.clip-blue-reverse {
  clip-path: polygon(0px 0%, 100% 5%, 100% 100%, 0% 95%);
  background-color: var(--bg-image-b);
  color: var(--txt-white);

  @media (min-width: 768px) {
    clip-path: polygon(0px 15%, 100% 0%, 100% 85%, 0% 100%);
  }
}

.clip-orange {
  clip-path: polygon(0px 5%, 100% 0%, 100% 95%, 0% 100%);
  background-color: var(--bg-image-o);
  color: var(--txt-white);

  @media (min-width: 768px) {
    clip-path: polygon(0px 15%, 100% 0%, 100% 85%, 0% 100%);
  }
}

.bg_orange {
  background-color: var(--bg-image-o);
}

.bg_blue {
  background-color: var(--bg-image-b);
}

.align__self_start {
  @media (min-width: 992px) {
    align-self: start;
  }
}

.align__self_end {
  @media (min-width: 992px) {
    align-self: end;
  }
}

.shift_single {
  top: -15px;

  @media (min-width: 768px) {
    top: -100px;
  }
}

.shift_double {
  top: -30px;

  @media (min-width: 768px) {
    top: -200px;
  }
}

.clip-map {
  clip-path: polygon(0px 0%, 100% 15%, 100% 100%, 0% 85%);
}

// Квадраты

.boxes__container {
  position: relative;
}

@mixin box($color, $size, $rotate) {
  position: absolute;
  content: '';
  width: $size;
  height: $size;
  background-color: $color;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  transform: rotate($rotate);
  z-index: 20;

  border-radius: 5px;
  @if ($size < 30px) {
    @media (min-width: 768px) {
      border-radius: 6px;
    }
  } @else {
    @media (min-width: 768px) {
      border-radius: 15px;
    }
  }

}

// Главная 1-ая секция
.orange__boxes_top1 {
  position: relative;

  &::before {

    @include box(var(--bg-image-o), 55.5px, -20deg);
    top: -10px;
    right: -10px;

    @media (min-width: 768px) {
      @include box(var(--bg-image-o), 52px, 15deg);
      top: -15px;
      left: 40px;
      right: unset;
    }

    @media (min-width: 992px) {
      @include box(var(--bg-image-o), 72px, 15deg);
      top: -25px;
      left: 60px;
    }


    @media (min-width: 1440px) {
      @include box(var(--bg-image-o), 125px, 15deg);
      top: -30px;
      left: 60px;
    }

  }

  &::after {

    @include box(var(--bg-image-o), 22.3px, -8deg);
    top: -30px;
    left: 10px;

    @media (min-width: 768px) {
      @include box(var(--bg-image-o), 32px, -15deg);
      top: 5px;
      left: 130px;
    }

    @media (min-width: 992px) {
      @include box(var(--bg-image-o), 46px, -15deg);
      top: -7px;
      left: 165px;
    }

    @media (min-width: 1440px) {
      @include box(var(--bg-image-o), 64.5px, -15deg);
      top: -7px;
      left: 251px;
    }

  }
}

// Оранжевый сверху справа
.orange__box_top {
  position: relative;

  &::after {

    @include box(var(--bg-image-o), 22.3px, 25deg);
    top: -7px;
    left: 40px;

    @media (min-width: 768px) {
      @include box(var(--bg-image-o), 32px, 25deg);
      top: 70px;
      right: 90px;
      left: unset;
    }

    @media (min-width: 992px) {
      @include box(var(--bg-image-o), 46px, 25deg);
      top: 45px;
      right: 90px;
    }

    @media (min-width: 1440px) {
      @include box(var(--bg-image-o), 64.5px, 25deg);
      top: 65px;
      right: 200px;
    }
  }
}

// Главная секция 2

.blue__boxes_main2 {
  position: relative;

  &:before {
    @include box(var(--bg-image-b), 22.3px, -20deg);
    top: -20px;
    right: 45px;

    @media (min-width: 1920px) {
      @include box(var(--bg-image-b), 200px, -20deg);
      top: -65px;
      right: 30px;
    }

    @media (min-width: 1440px) and (max-width: 1920px) {
      @include box(var(--bg-image-b), 161px, -20deg);
      top: -65px;
      right: 30px;
    }

    @media (min-width: 992px) and (max-width: 1440px) {
      @include box(var(--bg-image-b), 84px, -20deg);
      top: -70px;
      right: 30px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      @include box(var(--bg-image-b), 64px, -20deg);
      top: -70px;
      right: 30px;
    }
  }

  &:after {
    @include box(var(--bg-image-b), 15.66px, -20deg);
    top: -5px;
    right: 20px;

    @media (min-width: 1920px) {
      @include box(var(--bg-image-b), 161px, 20deg);
      top: unset;
      bottom: 185px;
      right: -10px;
    }

    @media (min-width: 1440px) and (max-width: 1920px) {
      @include box(var(--bg-image-b), 125px, 20deg);
      top: unset;
      bottom: 185px;
      right: -10px;
    }

    @media (min-width: 992px) and (max-width: 1440px) {
      @include box(var(--bg-image-b), 72px, 20deg);
      top: unset;
      bottom: 200px;
      right: -10px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      @include box(var(--bg-image-b), 48px, 20deg);
      top: unset;
      bottom: 210px;
      right: -10px;
    }
  }

  &_1 {
    &:before {
      @include box(var(--bg-image-b), 43.22px, 20deg);
      bottom: 20px;
      right: -5px;

      @media (min-width: 1920px) {
        @include box(var(--bg-image-b), 90px, -20deg);
        bottom: 165px;
        right: 200px;
      }

      @media (min-width: 1440px) and (max-width: 1920px) {
        @include box(var(--bg-image-b), 64.5px, -20deg);
        bottom: 165px;
        right: 200px;
      }

      @media (min-width: 992px) and (max-width: 1440px) {
        @include box(var(--bg-image-b), 30px, -20deg);
        bottom: 185px;
        right: 100px;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        @include box(var(--bg-image-b), 24px, -20deg);
        bottom: 190px;
        right: 100px;
      }
    }

    &:after {
      @include box(var(--bg-image-b), 20.94px, 20deg);
      bottom: 23px;
      right: 55px;

      @media (min-width: 1920px) {
        @include box(var(--bg-image-b), 72px, -20deg);
        bottom: 100px;
        left: 50px;
      }

      @media (min-width: 1440px) and (max-width: 1920px) {
        @include box(var(--bg-image-b), 45.26px, -20deg);
        bottom: 180px;
        left: 50px;
      }

      @media (min-width: 992px) and (max-width: 1440px) {
        @include box(var(--bg-image-b), 32px, -20deg);
        bottom: 180px;
        left: 20px;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        @include box(var(--bg-image-b), 24px, -20deg);
        right: unset;
        bottom: 180px;
        left: 20px;
      }
    }
  }

  &_2 {
    &:before {
      @include box(var(--bg-image-b), 15.66px, -20deg);
      bottom: 25px;
      left: 10px;

      @media (min-width: 768px) and (max-width: 992px) {
        @include box(var(--bg-image-b), 44px, 20deg);
        right: unset;
        bottom: 220px;
        left: 65px;
      }

      @media (min-width: 992px) and (max-width: 1440px) {
        @include box(var(--bg-image-b), 52px, 20deg);
        bottom: 220px;
        left: 65px;
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        @include box(var(--bg-image-b), 60.54px, 20deg);
        bottom: 220px;
        left: 150px;
      }

      @media (min-width: 1920px) {
        @include box(var(--bg-image-b), 120px, 20deg);
        bottom: 220px;
        left: 150px;
      }
    }
  }
}

// Главная секция 3

.orange__boxes_main3 {
  position: relative;

  &:before {
    @include box(var(--bg-image-o), 22.3px, 20deg);
    bottom: 50px;
    right: 45px;


    @media (min-width: 1920px) {
      @include box(var(--bg-image-o), 110px, -20deg);
      bottom: 280px;
      right: 170px;
    }

    @media (min-width: 1440px) and (max-width: 1919px) {
      @include box(var(--bg-image-o), 45.29px, -20deg);
      bottom: 280px;
      right: 130px;
    }

    @media (min-width: 992px) and (max-width: 1440px) {
      @include box(var(--bg-image-o), 32px, -20deg);
      bottom: 280px;
      right: 130px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      @include box(var(--bg-image-o), 24px, -20deg);
      bottom: 280px;
      right: 130px;
    }
  }

  &:after {
    @include box(var(--bg-image-o), 43.2px, 20deg);
    bottom: 10px;
    right: -5px;

    @media (min-width: 1920px) {
      @include box(var(--bg-image-o), 100px, 20deg);
      bottom: 240px;
      right: 20px;
    }

    @media (min-width: 1440px) and (max-width: 1919px) {
      @include box(var(--bg-image-o), 64.5px, 20deg);
      bottom: 240px;
      right: 20px;
    }

    @media (min-width: 992px) and (max-width: 1440px) {
      @include box(var(--bg-image-o), 52px, 20deg);
      bottom: 240px;
      right: 20px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      @include box(var(--bg-image-o), 48px, 20deg);
      bottom: 240px;
      right: 20px;
    }
  }

}

// Страница контактов

.orange__boxes_contact {
  position: relative;

  &:before {
    @include box(var(--bg-image-o), 22.3px, 20deg);
    bottom: -30px;
    right: 45px;

    @media (min-width: 1920px) {
      @include box(var(--bg-image-o), 84px, -20deg);
      right: unset;
      bottom: 35px;
      left: 450px;
    }

    @media (min-width: 1440px) and (max-width: 1920px) {
      @include box(var(--bg-image-o), 64.5px, -20deg);
      right: unset;
      bottom: 35px;
      left: 400px;
    }

    @media (min-width: 992px) and (max-width: 1439px) {
      @include box(var(--bg-image-o), 42px, -20deg);
      right: unset;
      bottom: 35px;
      left: 370px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      @include box(var(--bg-image-o), 22.3px, 20deg);
      right: unset;
      bottom: 35px;
      left: 340px;
    }
  }

  &:after {
    @include box(var(--bg-image-o), 55.68px, 20deg);
    bottom: -20px;
    right: -25px;

    @media (min-width: 1920px) {
      @include box(var(--bg-image-o), 142px, 20deg);
      right: unset;
      bottom: 50px;
      left: 250px;
    }

    @media (min-width: 992px) and (max-width: 1439px){
      @include box(var(--bg-image-o), 124.99px, 20deg);
      right: unset;
      bottom: 50px;
      left: 250px;
    }

    @media (min-width: 992px) and (max-width: 1440px) {
      @include box(var(--bg-image-o), 84px, 20deg);
      right: unset;
      bottom: 50px;
      left: 200px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      @include box(var(--bg-image-o), 84px, 20deg);
      right: unset;
      bottom: 50px;
      left: 200px;
    }
  }

  &_1 {

    &:before {
      display: none;

      @media (min-width: 1920px) {
        display: unset;
        @include box(var(--bg-image-o), 84px, 20deg);
        right: 20px;
        top: 50px;
      }

      @media (min-width: 1440px) and (max-width: 1920px) {
        display: unset;
        @include box(var(--bg-image-o), 64.99px, 20deg);
        right: 20px;
        top: 50px;
      }

      @media (min-width: 992px) and (max-width: 1439px) {
        display: unset;
        @include box(var(--bg-image-o), 64.99px, 20deg);
        right: 20px;
        top: 50px;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        display: unset;
        @include box(var(--bg-image-o), 42px, 20deg);
        right: 20px;
        top: 50px;
      }
    }

    &:after {
      display: none;

      @media (min-width: 1920px) {
        display: unset;
        @include box(var(--bg-image-o), 182px, -20deg);
        left: 5px;
        bottom: 20px;
      }

      @media (min-width: 1440px) and (max-width: 1920px) {
        display: unset;
        @include box(var(--bg-image-o), 161px, -20deg);
        left: 5px;
        bottom: 20px;
      }

      @media (min-width: 992px) and (max-width: 1439px) {
        display: unset;
        @include box(var(--bg-image-o), 64.99px, 20deg);
        right: 20px;
        top: 50px;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        display: unset;
        @include box(var(--bg-image-o), 42px, 20deg);
        right: 20px;
        top: 50px;
      }
    }
  }
}

// Страница "О нас"

.blue__boxes_about {
  position: relative;

  &:before {
    @include box(var(--bg-image-b), 22.3px, 20deg);
    top: -5px;
    right: 60px;

    @media (min-width: 1920px) {
      @include box(var(--bg-image-b), 200px, -20deg);
      top: -65px;
      right: 30px;
    }

    @media (min-width: 1440px) and (max-width: 1919px) {
      @include box(var(--bg-image-b), 161px, -20deg);
      top: -65px;
      right: 30px;
    }

    @media (min-width: 992px) and (max-width: 1440px) {
      @include box(var(--bg-image-b), 84px, -20deg);
      top: -70px;
      right: 30px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      @include box(var(--bg-image-b), 64px, -20deg);
      top: -20px;
      right: 30px;
    }
  }

  &:after {
    @include box(var(--bg-image-b), 55px, -20deg);
    top: -25px;
    right: -10px;

    @media (min-width: 1920px) {
      @include box(var(--bg-image-b), 100px, 20deg);
      top: unset;
      bottom: 40px;
      right: -10px;
    }

    @media (min-width: 1440px) and (max-width: 1919px) {
      @include box(var(--bg-image-b), 84px, 20deg);
      top: unset;
      bottom: 80px;
      right: -10px;
    }

    @media (min-width: 992px) and (max-width: 1440px) {
      @include box(var(--bg-image-b), 72px, 20deg);
      top: unset;
      bottom: 100px;
      right: -10px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      @include box(var(--bg-image-b), 48px, 20deg);
      top: unset;
      bottom: 210px;
      right: -10px;
    }
  }

  &_1 {
    &:before {
      @include box(var(--bg-image-b), 43.22px, 20deg);
      bottom: 20px;
      right: -5px;

      @media (min-width: 1920px) {
        @include box(var(--bg-image-b), 90px, -20deg);
        bottom: 100px;
        right: 200px;
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        @include box(var(--bg-image-b), 64.5px, -20deg);
        bottom: 100px;
        right: 200px;
      }

      @media (min-width: 992px) and (max-width: 1440px) {
        @include box(var(--bg-image-b), 30px, -20deg);
        bottom: 120px;
        right: 100px;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        @include box(var(--bg-image-b), 24px, -20deg);
        bottom: 190px;
        right: 100px;
      }
    }

    &:after {
      @include box(var(--bg-image-b), 20.94px, 20deg);
      bottom: 23px;
      right: 55px;

      @media (min-width: 1920px) {
        @include box(var(--bg-image-b), 72px, -20deg);
        bottom: 100px;
        left: 50px;
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        @include box(var(--bg-image-b), 45.26px, -20deg);
        bottom: 140px;
        left: 50px;
      }

      @media (min-width: 992px) and (max-width: 1440px) {
        @include box(var(--bg-image-b), 32px, -20deg);
        bottom: 80px;
        left: 20px;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        @include box(var(--bg-image-b), 24px, -20deg);
        right: unset;
        bottom: 180px;
        left: 20px;
      }
    }
  }

  &_2 {
    &:before {
      @include box(var(--bg-image-b), 15.66px, -20deg);
      bottom: 25px;
      left: 10px;

      @media (min-width: 768px) and (max-width: 992px) {
        @include box(var(--bg-image-b), 44px, 20deg);
        right: unset;
        bottom: 220px;
        left: 65px;
      }

      @media (min-width: 992px) and (max-width: 1440px) {
        @include box(var(--bg-image-b), 52px, 20deg);
        bottom: 220px;
        left: 65px;
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        @include box(var(--bg-image-b), 60.54px, 20deg);
        bottom: 30px;
        left: 150px;
      }

      @media (min-width: 1920px) {
        @include box(var(--bg-image-b), 120px, 20deg);
        bottom: 20px;
        left: 150px;
      }
    }
  }
}

// Страница курса

.orange__boxes_course {
  position: relative;

  &:before {
    @include box(var(--bg-image-o), 55.8px, -20deg);
    top: 10px;
    right: -10px;

    @media (min-width: 768px) and (max-width: 992px) {
      @include box(var(--bg-image-o), 64px, -20deg);
      top: -20px;
      right: -10px;
    }

    @media (min-width: 1440px) and (max-width: 1919px) {
      @include box(var(--bg-image-o), 161px, -20deg);
      top: -50px;
      right: -15px;
    }

    @media (min-width: 1920px) {
      @include box(var(--bg-image-o), 194px, -20deg);
      top: -50px;
      right: -15px;
    }
  }

  &:after {
    @include box(var(--bg-image-o), 22.3px, 20deg);
    top: -5px;
    left: 50px;

    @media (min-width: 768px) and (max-width: 992px) {
      @include box(var(--bg-image-o), 32px, 20deg);
      top: 140px;
      left: 50px;
    }

    @media (min-width: 1440px) and (max-width: 1919px) {
      @include box(var(--bg-image-o), 124px, 20deg);
      left: unset;
      top: 100px;
      right: 220px;
    }

    @media (min-width: 1920px) {
      @include box(var(--bg-image-o), 154px, 20deg);
      left: unset;
      top: 100px;
      right: 220px;
    }
  }

  &_1 {
    &:before {
      @include box(var(--bg-image-o), 22.3px, 20deg);
      top: 30px;
      left: 15px;

      @media (min-width: 768px) and (max-width: 992px) {
        @include box(var(--bg-image-o), 32px, 20deg);
        top: 200px;
        left: 15px;
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        @include box(var(--bg-image-o), 64.5px, 20deg);
        top: unset;
        bottom: 100px;
        left: 50px;
      }

      @media (min-width: 1920px) {
        @include box(var(--bg-image-o), 94px, 20deg);
        top: unset;
        bottom: 70px;
        left: 50px;
      }
    }

    &:after {
      @include box(var(--bg-image-o), 55.8px, -20deg);
      bottom: -10px;
      left: -10px;

      @media (min-width: 768px) and (max-width: 992px) {
        @include box(var(--bg-image-o), 62px, -20deg);
        bottom: -20px;
        left: -10px;
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        @include box(var(--bg-image-o), 45.29px, -20deg);
        bottom: 180px;
        left: 140px;
      }

      @media (min-width: 1920px) {
        @include box(var(--bg-image-o), 64px, -20deg);
        bottom: 180px;
        left: 140px;
      }
    }
  }
}

.blue__boxes_course {
  position: relative;

  &:before {
    @include box(var(--bg-image-b), 22.3px, -20deg);
    top: 80px;
    right: 40px;

    @media (min-width: 992px) and (max-width: 1440px) {
      @include box(var(--bg-image-b), 22.3px, -20deg);
      top: 100px;
      right: 200px;
    }

    @media (min-width: 1440px) and (max-width: 1919px) {
      @include box(var(--bg-image-b), 161px, -20deg);
      top: -40px;
      right: -20px;
    }

    @media (min-width: 1920px) {
      @include box(var(--bg-image-b), 184px, -20deg);
      top: -40px;
      right: -20px;
    }
  }

  &:after {
    @include box(var(--bg-image-b), 43.2px, 20deg);
    top: 100px;
    right: -5px;

    @media (min-width: 1440px) and (max-width: 1919px) {
      @include box(var(--bg-image-o), 43.2px, 20deg);
      top: 150px;
      right: 240px;
    }

    @media (min-width: 1920px) {
      @include box(var(--bg-image-o), 64px, 20deg);
      top: 150px;
      right: 330px;
    }
  }

  &_1 {
    &:before {
      @include box(var(--bg-image-o), 22.3px, 20deg);
      bottom: 100px;
      left: 25px;

      @media (min-width: 1440px) and (max-width: 1919px) {
        @include box(var(--bg-image-b), 45.29px, -20deg);
        bottom: 180px;
        left: 300px;
      }

      @media (min-width: 1920px) {
        @include box(var(--bg-image-b), 64.5px, -20deg);
        bottom: 180px;
        left: 400px;
      }
    }

    &:after {
      @include box(var(--bg-image-o), 22.3px, -20deg);
      bottom: 70px;
      left: 10px;

      @media (min-width: 1440px) and (max-width: 1919px) {
        @include box(var(--bg-image-b), 64.5px, -20deg);
        bottom: 180px;
        left: 170px;
      }

      @media (min-width: 1920px) {
        @include box(var(--bg-image-b), 84px, -20deg);
        bottom: 180px;
        left: 250px;
      }
    }
  }

  &_2 {
    &:before {
      @media (min-width: 1440px) and (max-width: 1919px) {
        @include box(var(--bg-image-b), 124.99px, 20deg);
        bottom: 230px;
        left: 25px;
      }

      @media (min-width: 1920px) {
        @include box(var(--bg-image-b), 152px, 20deg);
        bottom: 230px;
        left: 25px;
      }
    }
  }
}

// Страница всех Курсов

.orange__boxes_coursesT1 {
  position: relative;

  &:before {
    @include box(var(--bg-image-o), 22.3px, 20deg);
    bottom: 10px;
    left: 70px;

    @media (min-width: 992px) and (max-width: 1919px) {
      @include box(var(--bg-image-o), 64.5px, -20deg);
      left: unset;
      bottom: unset;
      right: 60px;
      top: 160px;
    }

    @media (min-width: 768px) and (max-width: 992px)  {
      @include box(var(--bg-image-o), 52px, -20deg);
      left: unset;
      bottom: unset;
      right: 30px;
      top: 100px;
    }

    @media (min-width: 1920px) {
      @include box(var(--bg-image-o), 84px, -20deg);
      left: unset;
      bottom: unset;
      right: 60px;
      top: 160px;
    }
  }

  &:after {
    @media (min-width: 768px) {
      display: none;
    }

    @include box(var(--bg-image-o), 55.8px, -20deg);
    bottom: -5px;
    left: -10px;
  }

  &_1 {

    &:before {
      @media (min-width: 768px) {
        display: none;
      }

      @include box(var(--bg-image-o), 22.3px, 20deg);
      bottom: 30px;
      right: -5px;
    }
  }

}

.blue__boxes_coursesT1 {
  position: relative;

  &:before {
    @include box(var(--bg-image-b), 22.3px, -20deg);
    top: 5px;
    right: 35px;

    @media (min-width: 1440px) and (max-width: 1919px) {
      @include box(var(--bg-image-b), 60.54px, 20deg);
      top: 15px;
      right: 55px;
    }

    @media (min-width: 1920px) {
      @include box(var(--bg-image-b), 72px, 20deg);
      top: 20px;
      right: 55px;
    }
  }

  &:after {
    @include box(var(--bg-image-b), 43.22px, 20deg);
    top: 30px;
    right: -15px;

    @media (min-width: 1440px) and (max-width: 1919px) {
      @include box(var(--bg-image-b), 100px, 20deg);
      top: unset;
      bottom: 10px;
      right: 25px;
    }

    @media (min-width: 1920px) {
      @include box(var(--bg-image-b), 110px, 20deg);
      top: unset;
      bottom: 10px;
      right: 25px;
    }
  }

  &_1 {
    &:before {
      @include box(var(--bg-image-b), 22.3px, -20deg);
      bottom: 10px;
      left: 10px;

      @media (min-width: 1440px) and (max-width: 1919px) {
        @include box(var(--bg-image-b), 44.55px, -20deg);
        bottom: 80px;
        left: 30px;
      }
      
      @media (min-width: 1920px) {
        @include box(var(--bg-image-b), 72px, -20deg);
        bottom: unset;
        top: 15px;
        left: 50px;
      }
    }

    &:after {
      @include box(var(--bg-image-b), 22.3px, 20deg);
      bottom: 45px;
      left: 30px;

      @media (min-width: 1440px) and (max-width: 1919px) {
        @include box(var(--bg-image-b), 64.5px, -20deg);
        bottom: 190px;
        left: 30px;
      }

      @media (min-width: 1920px) {
        @include box(var(--bg-image-b), 72px, -20deg);
        bottom: 0px;
        left: 50px;
      }
    }
  }
}

.orange__boxes_coursesT2 {
  position: relative;

  &:before {
    @include box(var(--bg-image-o), 55.88px, -20deg);
    bottom: -20px;
    right: -20px;

    @media (min-width: 768px) and (max-width: 992px) {
      @include box(var(--bg-image-o), 72px, 20deg);
      bottom: 350px;
      right: -20px;
    }

    @media (min-width: 992px) and (max-width: 1919px) {
      @include box(var(--bg-image-o), 124.88px, 20deg);
      bottom: 230px;
      right: -20px;
    }

    @media (min-width: 1920px) {
      @include box(var(--bg-image-o), 148px, 20deg);
      bottom: 230px;
      right: -20px;
    }
  }

  &:after {
    @include box(var(--bg-image-o), 22.33px, 20deg);
    bottom: 50px;
    right: 20px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &_1 {
    &:before {
      @include box(var(--bg-image-o), 22.33px, -20deg);
      left: 20px;
      bottom: 7px;

      @media (min-width: 768px) and (max-width: 992px) {
        @include box(var(--bg-image-o), 42px, -20deg);
        left: 40px;
        bottom: 60px;
      }

      @media (min-width: 992px) and (max-width: 1919px) {
        @include box(var(--bg-image-o), 64.5px, -20deg);
        left: 40px;
        bottom: 60px;
      }

      @media (min-width: 1920px) {
        @include box(var(--bg-image-o), 84px, -20deg);
        left: 40px;
        bottom: 60px;
      }
    }
  }
}

.blue__boxes_coursesT2 {
  position: relative;

  &:before {
    @include box(var(--bg-image-b), 45.29px, 20deg);
    bottom: 0px;
    right: -15px;

    @media (min-width: 1920px) {
      @include box(var(--bg-image-b), 84.45px, -20deg);
      bottom: 250px;
      right: 50px;
    }

    @media (min-width: 1440px) and (max-width: 1919px) {
      @include box(var(--bg-image-b), 64.45px, -20deg);
      bottom: 250px;
      right: 50px;
    }

    @media (min-width: 992px) and (max-width: 1440px) {
      @include box(var(--bg-image-b), 64.45px, -20deg);
      bottom: 250px;
      right: -10px;
    }
  }

  &:after {
    @include box(var(--bg-image-b), 22.33px, -20deg);
    bottom: 30px;
    right: 45px;

    @media (min-width: 1920px) {
      @include box(var(--bg-image-b), 64px, -20deg);
      bottom: 30px;
      right: 150px;
    }

    @media (min-width: 1440px) and (max-width: 1919px) {
      @include box(var(--bg-image-b), 45.29px, -20deg);
      bottom: 30px;
      right: 150px;
    }

    @media (min-width: 992px) and (max-width: 1440px) {
      @include box(var(--bg-image-b), 32px, -20deg);
      bottom: 30px;
      right: 90px;
    }
  }

  &_1 {
    &:before {
      @include box(var(--bg-image-b), 22.33px, -20deg);
      bottom: 25px;
      left: 30px;

      @media (min-width: 1920px) {
        @include box(var(--bg-image-b), 84px, 20deg);
        bottom: 140px;
        left: 100px;
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        @include box(var(--bg-image-b), 60.54px, 20deg);
        bottom: 140px;
        left: 100px;
      }

      @media (min-width: 992px) and (max-width: 1440px) {
        @include box(var(--bg-image-b), 60.54px, 20deg);
        bottom: 80px;
        left: 40px;
      }
    }

    &:after {

      @media (min-width: 1920px) {
        @include box(var(--bg-image-b), 140px, 20deg);
        bottom: unset;
        top: 20px;
        left: -35px;
      }

      @media (min-width: 1440px) and (max-width: 1919px) {
        @include box(var(--bg-image-b), 125.54px, 20deg);
        bottom: 200px;
        left: -35px;
      }

      @media (min-width: 992px) and (max-width: 1440px) {
        @include box(var(--bg-image-b), 125.54px, 20deg);
        bottom: 180px;
        left: -35px;
      }
    }
  }
}

////////////


@font-face {
  font-family: "Quicksand";
  src: url("/static/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Vollkorn";
  src: url("/static/fonts/Vollkorn-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/static/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: url("/static/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoLight";
  src: url("/static/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("/static/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

html {
  overflow-x: hidden;
  font-size: 14px;

  @media (min-width: 992px) {
    font-size: 24px;
  }
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.app {
  background-color: var(--bg-main);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  padding-inline: 0;
  margin-block: 0;
  list-style-type: none;
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

html,
body,
#__next,
.container {
  //height: 100%;
}

#__next,
body,
html,
.app {
  overflow-x: hidden;
}