:root {
  --bg-main: #fff;
  --bg-sub: #f3be92;
  --bg-gray: #E4E4F2;
  --txt-main: #123eab;
  --txt-hover: #ff7100;
  --txt-gray: #828282;
  --gap-between: 16px;
  --bg-image-b: #060693;
  --bg-image-o: #e5a14b;
  --gray: #666666;
  --txt-black: #070921;
  --txt-sublack: #000000;
  --txt-white: #fcfcfc;

  --btn-size-mobile: 156px;
  --btn-size-tablets: 238px;
}

.clip-blue {
  clip-path: polygon(0px 0%, 100% 5%, 100% 100%, 0% 95%);
  background-color: var(--bg-image-b);
  color: var(--txt-white);

  @media (min-width: 768px) {
    clip-path: polygon(0px 0%, 100% 15%, 100% 100%, 0% 85%);
  }
}

.clip-blue-reverse {
  clip-path: polygon(0px 0%, 100% 5%, 100% 100%, 0% 95%);
  background-color: var(--bg-image-b);
  color: var(--txt-white);

  @media (min-width: 768px) {
    clip-path: polygon(0px 15%, 100% 0%, 100% 85%, 0% 100%);
  }
}

.clip-orange {
  clip-path: polygon(0px 5%, 100% 0%, 100% 95%, 0% 100%);
  background-color: var(--bg-image-o);
  color: var(--txt-black);

  @media (min-width: 768px) {
    clip-path: polygon(0px 15%, 100% 0%, 100% 85%, 0% 100%);
  }
}

.shift_single {
  top: -15px;

  @media (min-width: 768px) {
    top: -100px;
  }
}

.shift_double {
  top: -30px;

  @media (min-width: 768px) {
    top: -200px;
  }
}

.clip-map {
  clip-path: polygon(0px 0%, 100% 15%, 100% 100%, 0% 85%);
}

// Квадраты (комементы относительно пк верскти

@mixin box($color, $size, $rotate) {
  position: absolute;
  content: '';
  width: $size;
  height: $size;
  border-radius: 5px;
  background-color: $color;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  transform: rotate($rotate);
  z-index: 20;
}

// Два оранжевых слева сверху
.orange__boxes_top1 {
  position: relative;
  &::before {
    @include box(var(--bg-image-o), 22px, -15deg);
    top: -30px;
    left: 5px;
  }

  &::after {
    @include box(var(--bg-image-o), 22px, 15deg);
    top: -7px;
    left: 35px;
  }
}
// Оранжевый сверху справа
.orange__box_top {
  position: relative;

  &::after {
    @include box(var(--bg-image-o), 55px, -25deg);
    top: -7px;
    right: -35px;
  }
}

////////////

@font-face {
  font-family: "Quicksand";
  src: url("/static/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Vollkorn";
  src: url("/static/fonts/Vollkorn-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/static/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: url("/static/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoLight";
  src: url("/static/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("/static/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

html {
  overflow-x: hidden;
  font-size: 14px;

  @media (min-width: 992px) {
    font-size: 24px;
  }
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.app {
  background-color: var(--bg-main);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  padding-inline: 0;
  margin-block: 0;
  list-style-type: none;
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

html,
body,
#__next,
.container {
  //height: 100%;
}
