:root {
  --bg-main: #fff;
  --bg-sub: #f3be92;
  --txt-main: #123eab;
  --txt-hover: #ff7100;
  --txt-gray: #807b78;
  --gap-between: 16px;
  --bg-image-b: #060693;
  --bg-image-o: #e5a14b;
  --gray: #666666;
  --txt-black: #070921;
  --txt-sublack: #000000;
  --txt-white: #fcfcfc;

  --btn-size-mobile: 156px;
  --btn-size-tablets: 238px;
}

.gradient {
  background: rgb(0, 0, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 20%,
    rgba(229, 161, 75, 1) 80%
  );
}

.clip-blue {
  clip-path: polygon(0px 0%, 100% 5%, 100% 100%, 0% 95%);

  @media (min-width: 768px) {
    clip-path: polygon(0px 0%, 100% 15%, 100% 100%, 0% 85%);
  }
}

.clip-orange {
  clip-path: polygon(0px 5%, 100% 0%, 100% 95%, 0% 100%);

  @media (min-width: 768px) {
    clip-path: polygon(0px 15%, 100% 0%, 100% 85%, 0% 100%);
  }
}

@font-face {
  font-family: "Quicksand";
  src: url("/static/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Vollkorn";
  src: url("/static/fonts/Vollkorn-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/static/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: url("/static/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoLight";
  src: url("/static/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("/static/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

html {
  overflow-x: hidden;
  font-size: 14px;

  @media (min-width: 992px) {
    font-size: 24px;
  }
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.app {
  background-color: var(--bg-main);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html,
body,
#__next,
.container {
  height: 100%;
}
