%imgSize {
  max-width: 236px;

  @media (min-width: 768px) {
    max-width: 200px;
  }

  @media (min-width: 992px) {
    max-width: 312px;
  }

  @media (min-width: 1440px) {
    max-width: 462px;
  }
}

.logo {
  justify-self: center;
  margin-bottom: 16px;

  & > img {
    @extend %imgSize
  }

  &_double {
    display: grid;
    justify-items: center;
    @media (min-width: 768px) {
      grid-template-rows: auto 43px auto;
    }

    & > img {
      max-height: 95px;
      @extend %imgSize
    }

  }

  &_plus {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }
}