.item {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  text-align: center;

  color: var(--txt-white);
  background-color: var(--bg-image-b);
  border-radius: 20px;
  padding: 12px;
}
