.Info {
  position: relative;
  display: grid;
  height: 100vh;
  padding: 0 1rem;

  @media (min-width: 992px) {
    height: 60vh  ;
    grid-template-rows: unset;
    grid-template-columns: repeat(2, 1fr);
  }

  &.left {
    grid-template-areas:
      "i-image"
      "i-text";

    @media (min-width: 992px) {
      grid-template-areas: "i-image i-text";
    }
  }

  &.right {
    grid-template-areas:
      "i-image"
      "i-text";

    @media (min-width: 992px) {
      grid-template-areas: "i-text i-image";
    }
  }

  &__image {
    &-container {
      position: relative;
      align-self: center;
      justify-self: center;
      grid-area: i-image;

      width: 100%;
      height: 100%;

      @media (min-width: 992px) {
        width: 50%;
        height: 50%;
      }
    }
  }

  &__text {
    position: relative;
    grid-area: i-text;
    display: grid;
    grid-template-areas:
      "t-top"
      "t-center"
      "t-link";
    gap: 16px;

    @media (min-width: 992px) {
      justify-content: center;
    }

    &-top {
      align-self: flex-end;
      grid-area: t-top;
      text-align: center;
    }

    &-center {
      grid-area: t-center;
    }

    &-link {
      grid-area: t-link;
      align-self: center;
      justify-self: center;
      width: 100%;
      padding: 0.5rem;
      text-decoration: none;
      text-align: center;
      font-size: 1.25rem;
      background-color: var(--txt-main);
      color: var(--bg-sub);

      @media (min-width: 992px) {
        width: 50%;
        align-self: center;
      }
    }
  }
}
